body {
    background-image: linear-gradient(to right, #381a3c, #753362);
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    height: 100vh;
    margin: 0;
    padding: 10% 20%;
    width: 100vw;
}
.item {
    border-radius: 10px;
}
.item :nth-child(1) {
    background-color: #519988;
}
.item:nth-child(2) {
    background-color: #56adc3;
}
.item:nth-child(3) {
    background-color: #365e68;
}
.item:nth-child(4) {
    background-color: #c05b9f;
}
.item:nth-child(5) {
    background-color: #716664;
}
.item:nth-child(6) {
    background-color: #ab5b54;
}

@media (min-width: 1024px) {
    body {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .item:nth-child(1) {
        background-color: #519988;
        grid-column-end: 3;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-row-start: 3;
    }
    .item:nth-child(2) {
        background-color: #56adc3;
        grid-column-end: 6;
        grid-column-start: 3;
    }
    .item:nth-child(3) {
        background-color: #365e68;
    }
    .item:nth-child(4) {
        background-color: #c05b9f;
        grid-column-end: 3;
        grid-column-start: 1;
    }
    .item:nth-child(5) {
        background-color: #716664;
    }
    .item:nth-child(6) {
        background-color: #ab5b54;
        grid-column-end: 3;
        grid-column-start: 5;
        grid-row-end: 4;
        grid-row-start: 2;
    }
}